@font-face{
    font-family: 'JetBrains Mono';
    font-display: swap;
    src: url('../font/JetBrainsMono-Regular.ttf') format("truetype");
}
@font-face{
    font-family: 'HarmonyOS Sans SC';
    font-display: swap;
    src: url('../font/HarmonyOS_Sans_SC_Regular.ttf') format("truetype");
}
body {
    font-family: 'JetBrains Mono','HarmonyOS Sans SC';
}